<div class="flex items-center">
  <mat-chip-listbox aria-label="Categories">
    <mat-chip-option color="warn" (click)="selectCategory('Voyage')">Voyage</mat-chip-option>

    <mat-chip-option color="warn" (click)="selectCategory('Action')">Action</mat-chip-option>

    <mat-chip-option color="warn" (click)="selectCategory('Drame')">Drame</mat-chip-option>

    <mat-chip-option color="warn" (click)="selectCategory('Musique')">Musique</mat-chip-option>

    <mat-chip-option color="warn" (click)="selectCategory('Humour')">Humour</mat-chip-option>

    <mat-chip-option color="warn" (click)="selectCategory('Romantique')">Romantique</mat-chip-option>
  </mat-chip-listbox>
</div>

<div class="grid grid-cols-5 gap-10 mt-10">
  <div *ngFor="let video of videos | categorie:selectedCategory | scoreSuperior">
    <a [routerLink]="['/video', video.id]">
      <app-petit-video [video]="video"></app-petit-video>
    </a>
  </div>
</div>
