<div class="flex flex-col border border-white border-solid p-10 w-min h-screen">
  <div class="flex items-center">
    <span class="w-8 h-8 text-3xl mt-2 mr-5">
      <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    </span>
    <a routerLink="/accueil" class="no-underline text-white text-xl pt-5 pb-2 hover:underline">Accueil</a>
  </div>
  <div class="flex items-center">
    <span class="w-8 h-8 text-3xl mt-2 mr-5">
      <mat-icon>favorite</mat-icon>
    </span>
    <a class="no-underline text-white text-xl pt-5 pb-2">Favoris</a>
  </div>
  <div class="flex items-center">
    <span class="w-8 h-8 text-3xl mt-2 mr-5">
      <mat-icon>history</mat-icon>
    </span>
    <a class="no-underline text-white text-xl pt-5 pb-2">Historique</a>
  </div>
  <div class="flex items-center">
    <span class="w-8 h-8 text-3xl mt-2 mr-5">
      <mat-icon>info</mat-icon>
    </span>
    <a routerLink="/a-propos" class="no-underline text-white text-xl pt-5 pb-2 hover:underline">À propos</a>
  </div>
  <div class="flex items-center">
    <span class="w-8 h-8 text-3xl mt-2 mr-5">
      <mat-icon>manage_accounts</mat-icon>
    </span>
    <a routerLink="/table-videos" class="no-underline text-white text-xl pt-5 pb-2 hover:underline">Administration</a>
  </div>
</div>
