<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>App-vidéos</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="w-full font-sans bg-black text-white">

  <header class="flex justify-between items-center w-100 p-10 m-auto">
    <h1><img src="/assets/Metube.png" alt="Logo"></h1>
    <p class="bg-white text-black p-2 rounded-xl w-80 mb-0">Rechercher</p>
    <app-utilisateur class="bg-white text-black p-2 rounded-xl mb-0" [auteur]="utilisateurConnecte.auteur"></app-utilisateur>
  </header>

  <div class="flex w-100 p-10 mx-auto bg-black">
    <div class="flex flex-col mt-12 border border-white border-solid p-10 w-min">
      <div class="flex items-center">
        <span class="material-symbols-outlined w-8 h-8 text-3xl mt-2 mr-5">
          home
        </span>
        <a class="no-underline text-white text-xl pt-5 pb-2 hover:underline" href="">Accueil</a>
      </div>
      <div class="flex items-center">
        <span class="material-symbols-outlined w-8 h-8 text-3xl mt-2 mr-5">
          favorite
        </span>
        <a class="no-underline text-white text-xl pt-5 pb-2 hover:underline" href="">Favoris</a>
      </div>
      <div class="flex items-center">
        <span class="material-symbols-outlined w-8 h-8 text-3xl mt-2 mr-5">
          history
        </span>
        <a class="no-underline text-white text-xl  pt-5 pb-2 hover:underline" href="">Historique</a>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="mb-20">
        <app-liste-videos></app-liste-videos>
      </div>
      <div>
        <app-video-complet></app-video-complet>
      </div>
    </div>
  </div>

</body>

</html>





<router-outlet></router-outlet>
